.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}
.bg-green {
    background-color: green;
}
.bg-blue {
    background-color: blue;
}
.bg-pink {
    background-color: pink;
}
.bg-orange {
    background-color: orange;
}
.bg-purple {
    background-color: purple;
}
.bg-gray {
    background-color: gray;
}
.bg-black {
    background-color: black;
}
.bg-white {
    background-color: white;
}